version: "3.9"

services:
  postgres:
    image: postgres:16-alpine
    container_name: library-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      CHORIDAR_USEPOLLING: "true"
      WATCHPACK_POLLING: "true"
    ports:
      - "${POSTGRES_PORT:-5436}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./database:/docker-entrypoint-initdb.d:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  web:
    build:
      context: ./evaluacion-proyecto
      dockerfile: Dockerfile
    container_name: library-web
    command: npm run dev -- -H 0.0.0.0 -p 3000
    ports:
      - "3000:3000"
    volumes:
      - ./evaluacion-proyecto:/app
      - /app/node_modules
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  postgres_data:
